

body{
    
    height: 80%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    height: 88vh;
    width: 100%;
    background-image: url("../img/mca5.jpg");
    background-size: cover;
    background-position:center center ;

}
.form-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 300px;
    height: 390px;
    padding: 10px 25px;
    box-shadow: 5px 5px 50px 5px #99FEFF;
    background-color: #fff;
    border-radius: 20px;
    

}
h1{
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    margin-bottom: none;
    color: rgb(32, 31, 31);
    text-shadow:2px 2px  rgb(131, 167, 75) ;

}

h2{
    text-transform: capitalize;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5;
    color: #41444B;
    font-weight: bold;

}
.control input{
    width: 250;
    display: block;
    padding: 10px;
    color: #030c0b;
    border:.1px solid #fff;
    outline: none;
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
    border-radius: 20px;


}

.control input[type="submit"]{
    background: #61C0BF;
    color: #010807;
    text-transform: capitalize;
    font-size:13px;
    opacity: .6;
    transition: opacity .3s ease;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    font-weight: bold;

}

.control input[type="submit"]:hover{
    opacity: 1;
}
.link a{
  text-decoration:none;
  color: #030c0b;
  opacity: .7;
  transition: opacity .3s ease;
  

}
.link a:hover{
    opacity: 1;
}

label{
    font-size: 12px;
    color: #41444B;
    text-align: center;
}

span {
    font-size: 13px;
    color: #41444B;
    margin-left: 75px;

}
/*
header{
   
    text-transform: capitalize;
    font-size: 50px;
    text-align:center;
    margin-top: none;
    font-weight: none;
  text-shadow:3px 3px  rgb(211, 241, 39);
   color: #03506F;
   


    
   
} */

footer{
    text-align: center;
}
#name{
    border: 3px solid #F3F8FF;
    
    
}

#Password{
    border: 3px solid #F3F8FF;
 
}

.forgot{
    font-size: 13px;
    color: #41444B;
    margin-left: 75px;
}